.propertyComponent{
    background-color: green;
}
.propertyHeader,.classRow{
    display: flex;
    gap: 0.1rem;
}
.classBody{
    margin-left: 1rem;
}
.classRow > * , .propertyHeader>* , .classHeader> *{
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid black;
    width: 100px;
}
::-webkit-scrollbar {
    display: none;
}